body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}
.header {
    background-color: rgb(229, 206, 55);
    text-align: center;
    font-size: 24px;
    padding: 10px;
}
#header {
    background-color: rgb(27, 176, 8);
    text-align: center;
    font-size: 24px;
    padding: 10px;
}
.left, .right {
    padding: 20px;
    background-color: #10579b;
}
.left {
    float: left;
    width: 25%;
    height: 65vh; 
}
.left a{
    color: White;
    padding: 10px;
}
.right {
    float: right;
    width: 25%;
    height: 65vh;
}
.center {
    margin: 0 35%;
}
.cat, .person {
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    clear: both;
    width: 100%;
    background-color: rgb(229, 206, 55);
    padding: 10px;
    text-align: center;
}
input {
    width:60%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
button {
    padding: 5px;
    background-color: rgb(229, 206, 55);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333;
}
.right p{
    font-size: 14px;
    color: white;
}
.right a,ol{
    color: azure;
}
p {
    font-size: 12px;
    color: #555;
}
a {
    color: rgb(107, 107, 193);
}
a:hover {
    color: rgb(85, 85, 150);
}